.container {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.form {
    width: 500px;
    margin: 0 auto;
}

.badge-info {
    color: #fff;
    background-color: #17a2b8;
    margin: 0 2px;
}

.words-container {
    border: 1px solid #dee2e6;
    border-radius: 10px;
    padding: 7px;
    min-height: 40px;
    border-radius: 0.375rem;
    ;
}

.submit-button {
    min-height: 38px;
    min-width: 77px;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 40px;
    aspect-ratio: 4;
    --_g: no-repeat radial-gradient(circle closest-side, #fff 90%, #0000);
    background:
        var(--_g) 0% 50%,
        var(--_g) 50% 50%,
        var(--_g) 100% 50%;
    background-size: calc(100%/3) 100%;
    animation: l7 1s infinite linear;
}

@keyframes l7 {
    33% {
        background-size: calc(100%/3) 0%, calc(100%/3) 100%, calc(100%/3) 100%
    }

    50% {
        background-size: calc(100%/3) 100%, calc(100%/3) 0%, calc(100%/3) 100%
    }

    66% {
        background-size: calc(100%/3) 100%, calc(100%/3) 100%, calc(100%/3) 0%
    }
}